<div class="container">
    <h1 class="display-1 text-center">Bienvenido</h1>
    <h5 class="text-center">Este es el Dashboard de Monitoreo de la Plantación de Arándanos para el Trabajo de Grado en la Universidad Técnica del Norte</h5>
    <hr><br>
    <h1 class="display-4">Monitoreo Estaciones</h1>
    <h5>SISTEMA DE MONITOREO DE CULTIVOS DE ARÁNDANOS BASADO EN Wi-SUN FAN MESH NETWORK. Se recolecta la información de los Nodos Sensores usando protocolo MQTTSN. En este dashboard se muestra los últimos valores recibidos.</h5>
    <h5>Detalles: <a href="https://github.com/JohaYuuki/trabajodegrado">GitHub repository</a></h5>
    <a href="/environmentalstations"><h3>Dashboard - Estaciones 1 </h3></a>
    <hr><br>
    <h1 class="display-4">Estación 2</h1>
    <h5>A mobile application </h5>
    <a href="/environmentalstations2"><h3>Dashboard -Estación 2</h3></a>
</div>